<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text="">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://scontent.fkul16-1.fna.fbcdn.net/v/t1.18169-9/1939493_10152275627692682_1315863499_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=M9bmbq3sOmQAX_DTLPM&_nc_ht=scontent.fkul16-1.fna&oh=00_AT-YgLK9P_KWIksSipTA0uZb4HBt6Cqy9ypGa4jiCCZIoA&oe=636698BC" alt="">
<ion-card>
<ion-card-content>
  <p>1</p>
  <p>2</p>
  <p>3</p>
  <p>4</p>
  <p>5</p>
</ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="success">Create pickup call</ion-button>
</ion-content>
