<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ST Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.maxpixel.net/static/photo/1x/Avatar-Member-Drawing-Icon-User-6007530.png"/>
      </ion-avatar>
      <ion-label>
        <h1>Muhamad Hadi</h1>
        <p>Jalan Terus <span>mati sebelum mati.</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- calendar -->
  <!-- <ion-card>
    <div class="flex-center">
    <ion-datetime></ion-datetime>
  </div>
  </ion-card> -->

  <ion-card>
    <!-- <ion-item class="ion-activated" color="success">
      <ion-icon name="bookmark" slot="start"></ion-icon>
      <ion-label>Recent Job List</ion-label>
    </ion-item> -->
    <ion-card-header>
      <ion-card-subtitle>
        Recent Job
      </ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>

      <ion-item button detail="true"  lines="none">
        <ion-icon name="sparkles" slot="start"></ion-icon>
        <ion-label>
          <h3>Jabil</h3>
          <span><a href="#sound">#sound</a>,<a href="#light">#light</a>,<a href="#">#mcp</a></span>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-icon name="musical-notes" slot="start"></ion-icon>
        <ion-label>
          <h3>Sound and Bar</h3>
          <span><a href="#sound">#sound</a>,<a href="#light">#light</a></span>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-icon name="flashlight" slot="start"></ion-icon>
        <ion-label>
          <h3>Wan</h3>
          <span><a href="#light">#light</a></span>
          <p>Wedding Light</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <app-pickup-call-card></app-pickup-call-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
